* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
  font-family: "Tiro Devanagari Sanskrit", serif;
}

@media (max-width: 460px) {
  .navi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 40px;
    background-color: black;
    z-index: 100;
  }
  .name {
    padding-right: 20px;
    color: #ffffff;
    font-size: 1rem;
  }
  .tittle {
    position: relative;
    width: 100px;
    height: 20px;
    top: 80px;
    left: 150px;
    font-size: 3em;
    color: #fcffc1;
  }
  .tittle .tittle__two {
    position: absolute;
    left: 40px;
  }
  .tittle .tittle__three {
    position: absolute;
    left: 60px;
  }
  .hi-board {
    position: relative;
    top: 250px;
    left: 70px;
    font-size: 2em;
    font-weight: bold;
    color: #fcffc1;
  }
  .mobil-nav {
    padding: 10px;
    cursor: pointer;
    border: 0;
    margin: 0;
    background-color: transparent;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .mobil-nav-active {
    -webkit-transform: translate(250px);
            transform: translate(250px);
  }
  .bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 34px;
    height: 24px;
    position: relative;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .line-one,
.line-two,
.line-three {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .line-two {
    top: 2px;
  }
  .line-three {
    top: 20px;
  }
  .menu {
    position: fixed;
    width: 250px;
    height: 700px;
    background-color: #ffffff;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .menu .menu__list {
    margin-top: 20px;
  }
  .menu .menu__list .menu__item {
    padding: 10px 30px;
  }
  .menu .menu__list .menu__item a {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    color: #171717;
  }
  .hide {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  .mobil-nav,
.menu {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  #home,
#menus,
#reservation,
#orders,
#contact {
    max-width: 460px;
    height: 100vh;
    overflow: hidden;
  }
  #home {
    background-image: url("/img/restaurant-small.jpg");
    background-position: center;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  .menus-site {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("/img/pizza-small.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .menus-tittle {
    margin-top: 10px;
    font-size: 2rem;
    letter-spacing: 5px;
    color: #ffffff;
  }
  .slider {
    position: relative;
    width: 250px;
    height: 400px;
    border-radius: 8px;
  }
  .slider-box {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .cart {
    display: none;
  }
  .first-cart,
.second-cart,
.third-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 10px;
    width: 250px;
    height: 400px;
    opacity: 0.8;
    background-color: #ffffff;
    border-radius: 8px;
  }
  .active {
    display: block;
  }
  .table-one {
    padding-right: 35px;
  }
  .table-three {
    padding-right: 5px;
  }
  .btn-menu {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    border: none;
  }
  .btn-left {
    left: 0px;
  }
  .btn-right {
    right: 0;
  }
  .btn-menu span {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  #reservation {
    background-color: #fcffc1;
  }
  .reservation-tittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    font-size: 2rem;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 80px;
  }
  #date,
#persons,
#time {
    border-radius: 5px;
    border: 1px solid black;
  }
  .date,
.persons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1rem;
    padding: 30px;
  }
  .reserv-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 5px;
  }
  .reserv-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }
  .reservation-btn {
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    background-color: transparent;
  }
  .reservation-btn:focus {
    color: #ffffff;
    background-color: #171717;
  }
  .reservation-error {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1rem;
    color: #ff1d58;
  }
  .reservation-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 60px;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0;
  }
  .reserv-info-date,
.reserv-info-time {
    padding: 3px 0;
    color: #171717;
    font-size: 1rem;
  }
  .requirements {
    width: 100vw;
    padding-top: 40px;
    font-size: 1rem;
  }
  .phone-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #orders {
    background-color: #edf756;
  }
  #orders-menu {
    font-size: 1rem;
  }
  .orders-tittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    font-size: 2rem;
  }
  #orders-menu {
    border-radius: 5px;
  }
  .orders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 90%;
    padding: 10px;
    margin: 0 auto;
  }
  .orders-selects-error {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #ff1d58;
    font-size: 1rem;
  }
  .orders-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 5px;
  }
  .orders-add-btn {
    background-color: transparent;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  .basket-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    padding-top: 40px;
    width: 100vw;
    min-height: 55vh;
    max-height: 80%;
  }
  .basket {
    min-width: 90%;
    min-height: 30%;
    max-height: 90%;
    border: 1px solid black;
    border-radius: 8px;
  }
  .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
    width: 100%;
    height: 30px;
  }
  .dish,
.price,
.delete-btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 5px;
    font-size: 0.8rem;
  }
  .dish {
    width: 50%;
    height: 100%;
  }
  .price {
    width: 35%;
    height: 100%;
  }
  .delete-btn-box {
    width: 15%;
    height: 100%;
  }
  .delete-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid black;
  }
  .count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    width: 90%;
    padding-top: 20px;
  }
  .end-price-text,
.end-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1rem;
  }
  .end-price-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    height: 100%;
  }
  .end-price {
    width: 30%;
    height: 100%;
    color: royalblue;
    font-size: 1rem;
  }
  .order-btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vh;
    padding-top: 30px;
  }
  .order-btn-confirm {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    background-color: transparent;
    font-size: 1rem;
  }
  .orders-confirm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
    font-size: 1rem;
  }
  #contact {
    background-image: url(/img/cafe-small.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .contact-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 85vh;
  }
  .contact-tittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 40px;
    font-size: 2rem;
    color: #ffffff;
  }
  .contact1,
.contact2,
.contact3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    gap: 5px;
    width: 70%;
    height: 30%;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #ececec;
    opacity: 0.8;
  }
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    min-height: 30px;
    max-height: 40px;
    margin-top: 25px;
    background-color: #171717;
    overflow: hidden;
  }
  .footer {
    background-color: #171717;
    font-size: 1.2rem;
    color: #ffffff;
  }
}/*# sourceMappingURL=style.css.map */