* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
$dark: #171717;
body {
	overflow: hidden;
}
@media (max-width: 460px) {
	.navi {
		width: 100vw;
		height: 40px;
		
	}

	.mobil-nav {
		display: inline-block;
		padding: 10px;
		cursor: pointer;
		border: 0;
		margin: 0;
		background-color: transparent;
		
	}
	.mobil-nav-active {
		transform: translateX(250px);
	}

	.bars {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 34px;
		height: 24px;
		position: relative;
	}
	
	.line-one,
	.line-two,
	.line-three {
		width: 100%;
		height: 3px;
		background-color: $dark;
		position: absolute;
	}
	
	.line-two {
		top: 2px;
	}
	.line-three {
		top: 20px;
	}
	
	
	
	.menu {
		width: 250px;
		height: 100vh;
		background-color: #fff;
		overflow: hidden;
		transform: translateX(-250px);
		.menu__list {
			margin-top: 20px;
			
			.menu__item {
				padding: 10px 30px;
				a {
					list-style: none;
					text-decoration: none;
					text-transform: uppercase;
					color: $dark;
				}
			}
		}
		.menu-active{
			transform: translateX(0px);
		}
	}
	.mobil-nav,
	.menu {
		transition: transform 0.3s;
	}
	#home {
		width: 100%;
		height: 100vh;
		background-image: url("/img/restaurant-small.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
